@model MainMenuModel
<h1 style="text-center"> Welcome to the online shop </h1>

<div class="d-flex justify-content-center gap-3 mt-4">
    @Html.ActionLink("Products", "ProductMenu", "MainMenu", null, new { @class = "btn btn-primary" })

    <br />    
    <br />

    @foreach(var product in Model.Products)
    {
        @Html.ActionLink(product.ProductName, "EditProduct", "ProductMenu", new { id = product.ProductId })
        <br />
        <br />
    }



    
</div>


