@model List<CouponModel>
<h1 style="text-center"> Welcome to the Coupon Menu </h1>

<div class="d-flex justify-content-center gap-3 mt-4">
    @Html.ActionLink("Add coupons", "AddCoupon", "Coupon", null, new { @class = "btn btn-primary" })

    <h1 style="text-center"> Your Coupons </h1>

    <div class="d-flex justify-content-center gap-3 mt-4">
        @foreach (var coupon in Model)
        {
            @Html.ActionLink(coupon.CouponName, "EditCoupon", "Coupon", new { id = coupon.Id })
            @Html.ActionLink("delete coupons", "DeleteCoupon", "Coupon", new { id = coupon.Id })
        }
    </div>
</div>