@model RegisterModel
<div class="text-center">
	<div style="font:xx-large" </div>
		<h1 style="font:normal">Registrtarion</h1>
</div>

<div>
	<form asp-action="Register">
		<label>Username</label>
		<input type="text" asp-for="Username" />
		@Html.ValidationMessageFor(m => m.Username)

		<label>Password</label>
		<input type="text" asp-for="Password" />
		@Html.ValidationMessageFor(m => m.Password)
		
		<label>Password Confirmation</label>
		<input type="text" asp-for="PasswordConfirmation" />
		@Html.ValidationMessageFor(m => m.PasswordConfirmation)

		
		<button type="submit">Enter</button>
	</form>
</div>
